# https://unity3d.com/learn/tutorials/modules/beginner/architecture/folders-in-version-control

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
UnityGenerated/
[Ll]ibrary/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
#   Builds     #
# ============ #
*.apk
*.unitypackage